/*
 * animations css stylesheet
 */

.slot-frame {
    border: 1px solid black;
    overflow: hidden;
}

.slots {
    font-size: 1000%;
    font-size: 30vw;
    text-align: center;
    position: relative;
}

.btn-major {
    min-height: 100px;
}


.btn-major a {
    font-size: 300%;
}

.badge {
    vertical-align:middle;
}